header#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 60px;
  
  background: #da552f;
  color: #FFF;
  
  font-size: 18px;
  font-weight: bold;
}